<h1>My To-do List</h1>
@if (tasks.length > 0) {
<ul>
    @for (task of tasks; track task) {
        <input type="checkbox" [(ngModel)]="task.isDone">
        <span ngClass="completed">{{ task.description }}</span>
    }
</ul>
} @else {
    <p>The list is empty, please add your first task</p>
}

<label for="new-task">New Task to add to the list</label>
<input [(ngModel)]="newTask" id="new-task" type="text" placeholder="Type here a new task to add to the list">
<button (click)="addNewTask()">Add Task</button>

@if (error.length > 0) {
    <p>{{ error }}</p>
}
